Source: openmediavault-customimages
Section: net
Priority: optional
Maintainer: Simone Karin Lehmann <skl@lisanet.de>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.1

Package: openmediavault-customimages
Architecture: all
Depends: openmediavault (>= 7.0)
Description: OpenMediaVault Custom Images Plugin
  Enables setting a custom image for the login page and a blend mode.
