Source: openmediavault-customimages
Section: net
Priority: optional
Maintainer: Simone Karin Lehmann <skl@lisanet.de>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.1

Package: openmediavault-customimages
Architecture: all
Depends: openmediavault (>= 8.1.1)
Description: OpenMediaVault Custom Images Plugin
  Enables setting a custom background images and blend modes for the 
  login screen, the standby screenand the shutdown screen.
